 /* color theme: white */

html, body 
{		
	
}

#header
{
	
}

#update-available
{	
	color: #FF0000;	
}

#update-unavailable
{
	color: #000000;
}

#update-error
{
	color: #FF0000;
}

.openwrt-title 
{
	
}

#header-title,
#mainmenu,
#mainmenu a,
#submenu,
#submenu a,
#save a,
#save .page-save,
#submenu,
#mainmenu,
#save div
{
	color: #000;
	background-color: #fff;
}

#mainmenu a:hover,
#submenu a:hover,
#save a:hover,
#mainmenu .selected a,
#submenu .selected a
{
	color: #000;
	background-color: #ccc;
}

#content .settings-block .settings-block-title h2 
{	
	color: #000;
}

#content .settings-block
{
	
}

#content .settings-title 
{
	background-color: #CCC;
}

#content .settings 
{
	
}

#save .page-save 
{
	
}

.progressbar-title
{

}

.progressbar-whole
{	
	
}

.progressbar-filled
{
	background-color: #CCC;
}

.progressbar-unfilled
{
	
}

.kb 
{
	
}

.mount-target
{
	
}

.warning
{
	
}

#footer-logo
{
	color: #000;
}
