 /* color green */

#header
{
	background-color: #2b6d21;
}

#update-available
{
	color: #FF0000;
}

#update-unavailable
{
	color: #000000;
}

#update-error
{
	color: #FF0000;
}

.openwrt-title
{
	color: #FFF;
}

#header-title,
#submenu,
#submenu a,
#save a,
#save .page-save
{
	color: #fff;
}

#header-title,
#save .apply div
{
	background-color: #2b6d21;
}


#header-title,
#mainmenu,
#mainmenu a,
#submenu,
#submenu a,
#save a,
#save .page-save
{
	color: #fff;
}

#submenu,
#mainmenu,
#save div
{
	background-color: #275820;
}

#mainmenu a:hover,
#submenu a:hover,
#save a:hover
{
	background-color: #759b7b;
	color: #FFF;
}

#mainmenu .selected a,
#submenu .selected a
{		
	background-color: #759b7b;
	color: #FFF;
}

#content .settings-block .settings-block-title h2
{
	color: #000;
}

#content .settings-block
{
	color: #000;
	background-color: #FFF;
}

#content .settings-title
{
	color: #000;
	background-color: #CCC;
}

#content .settings
{
	color: #000;
}

#save .page-save
{
	background-color: #FFF;
}

.progressbar-title
{

}

.progressbar-whole
{

}

.progressbar-filled
{
	color: #FFFFFF;
	background-color: #2b1b9f;
}

.progressbar-unfilled
{
	color: #000;
	background-color: #000;
}

.kb
{
	color: #222;
}

.mount-target
{
	color: #222;
}

.warning
{
	color: red;
}

#short-status
{
	color: #CCC;	
}

#footer-logo
{
	color: #FFF;
}
