 /* color theme: brown */
 body {
 	background-color: black;
 }
#header, #header #short-status {
	color: #ccc;
	background-color: #333;
}

a {
	color: white;
}
#mainmenu {
	border-bottom: 1px solid grey;
}

#submenu,
#mainmenu,
#save .page-save, #footer { background-color: #000; }

#save .apply { background-color: #000; }

#mainmenu a:hover,
#submenu a:hover,
#mainmenu .selected a,
#submenu .selected a,
#save a:hover { background-color: #C3C4D2; color: black; }

#content {
	background-color: #000;
	color: #ccc;
}
#content h3 {
color: white;
	background-color: transparent;
}
.progressbar-filled {
	color: White;
	background-color: #2b1b9f;
}

.progressbar-unfilled {
	color: Black;
	background-color: Black;
}
