 /* color theme: brown */

#header
{
	background-color: #e8ca9e;
}

#update-available
{
	color: #FF0000;
}

#update-unavailable
{
	color: #000000;
}

#update-error
{
	color: #FF0000;
}

.openwrt-title
{
	color: #000;
}

#header-title,
#save .apply div
{
	background-color: #4d3f2a;
}

#header-title,
#mainmenu,
#mainmenu a,
#submenu,
#submenu a,
#save a,
#save .page-save
{
	color: #fff;
}

#submenu,
#mainmenu,
#save div
{
	background-color: #978568;	
}

#mainmenu a:hover,
#submenu a:hover,
#save a:hover
{
	background-color: #343018;
}

#mainmenu .selected a,
#submenu .selected a
{		
	background-color: #343018;
}

#content .settings-block .settings-block-title h2
{
	color: #000;
}

#content .settings-block
{
	color: #000;
	background-color: #FFF;
}

#content .settings-title
{
	color: #000;
	background-color: #b8b1a2;
}

#content .settings
{
	color: #000;
}

#save .page-save
{
	background-color: #FFF;
}

.progressbar-title
{

}

.progressbar-whole
{

}

.progressbar-filled
{
	color: #FFFFFF;
	background-color: #2b1b9f;
}

.progressbar-unfilled
{
	color: #000;
	background-color: #000;
}

.kb
{
	color: #222;
}

.mount-target
{
	color: #222;
}

.warning
{
	color: red;
}

#footer-logo
{
	color: #FFF;
}
