--useForm = "Welcome"

htmlCode = [[
This is a private Hotspot<br>
<br>
<table>
<tr><td>You can connet to internet with an account by press menu option <strong>Go to internet</strong></td></tr>
<tr><td>If you don't have an account, can get one contacting the owner</td></tr>
</table>
]]