 /* color theme: white */
body {
	color: Black;
	background-color: White;
}

#submenu,
#mainmenu,
#save .page-save, #footer {
	color: Black;
	background-color: White;
}

#save .apply {
	color: Black;
	background-color: White;
}

#mainmenu a,
#submenu a,
#save a {
	color: black;
}

#mainmenu a:hover,
#submenu a:hover,
#mainmenu .selected a,
#submenu .selected a,
#save a:hover {
	background-color: #CCCCCC;
	color: Black;
}

#content h3 { background-color: #ccc; }

.progressbar-filled {
	color: Black;
	background-color: #ccc;
}

.progressbar-unfilled {
	color: Black;
	background-color: White;
}

