/* common colors */
#short-status
{
	background-color: transparent;
}

.kb
{
	color: #222;
}

.mount-target
{
	color: #222;
}

.warning,
.update-available,
.warning-light
{
	color: #9a2c2c;
}

.progressbar-title
{

}

.progressbar-whole
{

}

.openwrt-title
{
	background-color: transparent;	
}

.seperator-maincat
{
	background-color: transparent;
}

.even
{
	background-color: #e5e7e9;
}

.odd
{
	background-color: transparent;
}