/* color theme navy blue */

html, body
{
	color: #CCC;
	background-color: #111;
}

#header,
#short-status
{
	color: #CCC;
	background-color: #444;
}

#update-available
{
	color: #FF0000;
}

#update-unavailable
{
	color: #000000;
}

#update-error
{
	color: #FF0000;
}

.openwrt-title
{
	color: #FFF;
}

#header-title,
#submenu,
#submenu a,
#save a,
#save .page-save
{
	color: #CCC;
}

#header-title,
#save .apply div
{
	background-color: #111;
}

#mainmenu
{
	color: #C3C4D2;
	background-color: #111;
}

#mainmenu a
{
	color: #C3C4D2;
}

#mainmenu a:hover,
#submenu a:hover,
#save a:hover,
#mainmenu .selected a,
#submenu .selected a
{
	color: #000;
	background-color: #C3C4D2;
}

#submenu,
#save div
{
	color: #CCC;
	background-color: #111;
}

#content .settings-block .settings-block-title h2
{
	color: #CCC;	
}

#content .settings-block
{
	color: #CCC;
	background-color: #111;
}

#content .settings-title
{	
	color: #CCC;
	background-color: #111;
}

#content .settings
{
	color: #CCC;
	background-color: #111;
}

#save .page-save
{
	color: #CCC;
	background-color: #111;
}

.progressbar-title
{

}

.progressbar-whole
{

}

.progressbar-filled
{
	color: #FFFFFF;
	background-color: #2b1b9f;
}

.progressbar-unfilled
{
	color: #111;
	background-color: #111;
}

.mount-target
{
	
}

.warning
{
	color: red;
}

.logread
{
	color: #FFF;
}

#footer-logo
{
	color: #FFF;
}

.kb
{
	color: #CCC;
}

.even
{
	color: #111;
}