TR.appindex
{
font-family: serif;
font-size:8pt
font-style: normal;
font-size: medium;
color: #000000;
}

.gradualshine{
filter:alpha(opacity=30);
-moz-opacity:0.3;
}

.balloonstyle{
position:absolute;
top: -500px;
left: 0;
padding: 5px;
visibility: hidden;
border:1px solid black;
font:normal 12px Verdana;
line-height: 18px;
z-index: 100;
background-color: white;
width: 200px;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135,Strength=5);
}

#arrowhead{
z-index: 99;
position:absolute;
top: -500px;
left: 0;
visibility: hidden;
}

TR.wifiscantitle
{
background-color: #999999;
font-family: serif;
font-weight: bold;
color: #ffffff;
text-align: center;

}

TR.wifiscanrow1
{
font-family: serif;
font-size:8pt
color: #000000;
}

TR.wifiscanrow2
{
background-color: #E6E6E6;
font-family: serif;
font-size:8pt
color: #000000;
}

input.flatbtn{
border: 1px solid #000000;
font-size:8pt;
}