<p>Selecting every single package manually is a tedious work. That is why
we provide you with several collections of preselected packages for the most
common types of applications.</p>

<p>These package selections are guaranteed to fit on the most common sizes
of flash memory in the supported devices. Of course, your mileage my vary
depending on the filesystem you choose.</p>

<p>You can deselect the packages in the selection or select additional sofware
packages in the next step.</p>
