<p>OpenWrt offers several different filesystems for use on your embedded 
device.</p>

<p>Since most embedded systems use some form of flash memory some of these
filesystems are optimized for size others for flexibility.</p>

<p>Please read the description for every filesystem before choosing one.</p>
