<p>OpenWrt is built for a variety of embedded system boards and tested on
several hardware devices using these boards.</p>

<p>Please select the device you want to build the image for. The web image
builder knows which board is used in your device and will select software
packages suitable for your board and device.</p>

<p>If you want to test OpenWrt on a device that is not listed but should
be supported please compile from source.</p>
