 /* color green */

#header
{
	background-color: #2b6d21;
}

#update-available
{
	color: #FF0000;
}

#update-unavailable
{
	color: #000000;
}

#update-error
{
	color: #FF0000;
}

.openwrt-title
{
	color: #555;
}

#header-title,
#submenu,
#submenu a,
#save a,
#save .page-save
{
	color: #fff;
}

#header-title,
#save .apply div
{
	background-color: #2b6d21;
}

.mainmenu
{
	color: #C3C4D2;
	background-color: #22491c;
}

.mainmenu a
{
	color: #C3C4D2;
}

.mainmenu a:hover,
#save a:hover
{
	background-color: #759b7b;
	color: #FFF;
}

#submenu,
#save div
{
	background-color: #275820;
}

#content .settings-block .settings-block-title h2
{
	color: #000;
}

#submenu a:hover
{
	background-color: #759b7b;
	color: #FFF;
}

#content .settings-block
{
	color: #000;
	background-color: #FFF;
}

#content .settings-title
{
	color: #000;
	background-color: #CCC;
}

#content .settings
{
	color: #000;
}

#save .page-save
{
	background-color: #FFF;
}

.progressbar-title
{

}

.progressbar-whole
{

}

.progressbar-filled
{
	color: #FFFFFF;
	background-color: #2b1b9f;
}

.progressbar-unfilled
{
	color: #000;
	background-color: #000;
}

.kb
{
	color: #222;
}

.mount-target
{
	color: #222;
}

.warning
{
	color: red;
}

.selected-maincat
{
	border-color: #000;	
	background-color: #131e12;
}

.selected-maincat a:visited
{
	
}

.selected-maincat a:link
{
	
}

.unselected-maincat
{
	
}


.unselected-maincat a:visited
{

}

.unselected-maincat a:link
{
	
}


.selected-subcat
{
	border-color: #000;		
	background-color: #131e12;
}

.selectedsubcat a:visited
{

}

.selected-subcat a:link
{
	
}

.unselected-subcat
{
	
}

.unselected-subcat a:visited
{

}

.unselected-subcat a:link
{
	
}