* {
        margin: 0;
        padding: 0;
}

body {
        font: normal 12px/16px verdana, lucida, sans-serif;
	border: 0; padding: 0; margin: 0;
}

dt {
        font-weight: bold;
}

dd {
        margin-left: 1em;
        margin-bottom: 0.2em;
}

ul {
        display: inline;
        list-style-type: none;
}

ul.about {
        display: block;
        list-style-type: disc;
}
li.about {
        margin-left: 2em;
}

hr {
        display: none;
}

hr.separator {
        display: block;
}

th {
        text-align: left;
}

option {
        padding-right: 1em;
}

.odd {
        background-color: #CCC;
}

.selected-maincat {
        font-weight: bold;
}

#container {
}

#header {
        padding: 20px 20px 0px 20px;
	width: 95%; height: 170px; 
	margin: 0 auto 0 auto;
	text-align: left;
}

#header #header-title {
	margin: 0 auto 0 auto;
        height: 75px;
}

#header #header-title #openwrt-title {
	display: none;
}

#header #header-title #openwrt-title h1 {
	display: none;
}

#header #header-title #short-status {
        font: normal 12px/20px verdana, lucida, sans-serif;
	position: relative;
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 40px;
	color: gray;
}

#header #header-title #short-status ul {
	font-size: 0.8em;
}

#header #header-title #short-status h3 {
	display: none;
	font-size: 0.9em;
}

#header #header-title #short-status #short-status-left {
	float: left;
	width: 45%;
}

#header #header-title #short-status #short-status-right {
	float: right;
	width: 45%;
	text-align: right;
}

#header #mainmenu {
	position: absolute; top: 110px; 
	width: 95%; height: 25px;
}

#header #mainmenu h3 {
	display: none;
}

#header #mainmenu a {
	text-decoration: none;
}

#header #mainmenu table {
    border-collapse: collapse;
    width: 100%;
    margin: 0; padding: 0; border: 0;
}

#header #mainmenu table tr td
{
    text-align: center;
    margin: 0; padding: 0; border: 0;
    width: 102px; height: 26px;
    border-bottom: 1px solid #0b51a0;
    border-top: 0px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 0px solid #ffffff;
}

#header #mainmenu table tr td.last
{ 
    width: 100%;
}

#header #mainmenu table tr td.last a
{ 
    width: 100%;
    font: bold 10px/25px verdana, lucida, sans-serif;
    color: #0b51a0;
}

#header #mainmenu table tr td a
{
    width: 100px; height: 20px;
    text-decoration: none;
    display: block;
    text-align: center;
    font: normal 12px/25px verdana, lucida, sans-serif;
    color: #0b51a0;
}

#header #mainmenu table tr td.selected-maincat 
{
    width: 100px; height: 25px;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #0b51a0;
    border-left: 1px solid #0b51a0;
    border-right: 1px solid #0b51a0;
}

#header #submenu {
    width: 80%; height: 16px;
    position: absolute; top: 150px; left: 40px;
    text-align: left;
    margin: 0; border: 0; padding: 0;
}

#header #submenu a {
    color: #0b51a0;
    text-decoration: none;
    display: block;
    font: normal 10px/10px verdana, lucida, sans-serif;
    margin: 0 3px 0 3px;
}

#header #submenu a:hover {
    border-bottom: 1px solid #0b51a0;
}

#header #submenu a:active {
	font-weight: bold;
}

#header #submenu h3 {
	display: none;
}

#header #submenu ul {
	display: inline;
	list-style-type: none;
}

#header #submenu li {
	float: left;
	margin-left: 1em;
}

#header #submenu ul li.selected-maincat a {
	font-weight: bold;
}

#content {
	background: #fff;
	margin: 0 auto 0 auto; padding: 0;
	width: 95%; min-height: 300px;
	text-align: left;
}

#content .settings-block {
	padding: 0; border: 0; margin: 0;
	padding-left: 40px;
	padding-bottom: 10px;
	padding-top: 5px;
}

#content .settings-block .settings-block-title {
	 display: none;
}

#content .settings-block .settings-block-title h2 {
	font: bold 14px/25px verdana, lucida, sans-serif;
    	color: #0b51a0;
}

#content .settings-block .settings {
	clear: both;
	padding-right: 1em;
}

#content .settings-block .settings .settings-title {
	padding: 0 0 5px 0;
        border-bottom: 1px solid #0b51a0;
        width: 670px;
}

#content .settings-block .settings .settings-content {
	padding-top: 1em;
	margin-left: 0;
	float: left;
	width: 58%;
	padding-bottom: 0.5em;
}

#content .settings-block .settings .settings-content select,
#content .settings-block .settings .settings-content input {
	margin-top: 0.8em;
}

#content .settings-block .settings .settings-help {
	padding: 0.4em;
	padding-top: 1.4em;
	margin-left: 42%;
}

#content .settings-block .settings .settings-help h3 {
	display: none;
}

#content .settings-block .settings .settings-help .more-help {
	margin-right: 10%;
	text-align: right;
}

#save {
	width: 95%; height: 25px;
	padding: 0; border: 0; margin: 0px auto 5px auto;
	padding-bottom: 5px;
	background-color: #fff; color: #000;
	font: normal 10px/20px verdana, lucida, sans-serif;
}

#save br {
      display: none;
}

#save p {
      padding-left: 20px;
}

#save a {
        color: #0b51a0;
	text-decoration: none;
	font-weight: normal;
	padding-left: 10px;
	padding-right: 15px;
}

#save a:hover {
	text-decoration: underline;
}

#save .page-save {
	float: left;
}

#save .page-save div {
}

#apply {
	float: right;
     	text-align: right;
}

#apply a {
    width: 100px; height: 25px;
    text-decoration: none;
    font: normal 12px/25px verdana, lucida, sans-serif;
    color: #0b51a0;
}

#footer {
    width: 95%; height: 40px;
    padding: 0px; border: 0px; margin: 10px auto;
    border-top: 1px solid #0b51a0;
    font: normal 10px/20px verdana, lucida, sans-serif;
    clear: both;
}

#footer #logo {
    float: left; 
    margin: 0; padding: 0; border: 0;
    margin-right: 10px;
    text-align: left;
    vertical-align: middle;
}

#footer #copy {
    color: gray;
    font: normal 7pt/10pt verdana, lucida, sans-serif;
    float: right; 
    margin: 0; padding: 0; border: 0;
    margin-right: 10px;
    text-align: right;
}

table {
  border-spacing: 0px;
  padding: 0px 0px 15px 0px;
}

th, td { 
   white-space: nowrap; 
   padding: 1px 12px 1px 0px;
}

p {
      padding-bottom: 15px;
}

a, a:hover, a:active, a:link, a:visited {
  color:#0b51a0;
}

a:hover {
	text-decoration: underline;
}

