<html>
<head>
  <title><%= controller.action_name %></title>
  <%= stylesheet_link_tag 'streamlined' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'streamlined' %>
  <%= javascript_include_tag '/windows_js/javascripts/window' %>
  <%= stylesheet_link_tag '/windows_js/themes/theme1' %>
  <%= stylesheet_link_tag '/windows_js/themes/default' %>
</head>
<body>

			<%= @content_for_layout %>
		

</body>
</html>
